@font-face {
  font-family: 'Tondo';
  src: url('/fonts/tondo-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tondo';
  src: url('/fonts/tondo-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tondo';
  src: url('/fonts/tondo-bold.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney Sans';
  src: url('/fonts/rooney-sans-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney Sans';
  src: url('/fonts/rooney-sans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney Sans';
  src: url('/fonts/rooney-sans-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney Sans';
  src: url('/fonts/rooney-sans-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney Sans';
  src: url('/fonts/rooney-sans-heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rooney Sans';
  src: url('/fonts/rooney-sans-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
